html {
    height: 100%;
}

.logo a{

	margin-top: 5px;
	color: 	#e87300;
	text-decoration: none;	

}

.headerwidth {
	width: 100%;
}

header {
	margin-bottom: 0px; 
}

header h1 {
	margin: 0px;
}

body {
font-family: 'Open Sans', sans-serif;
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
background-color: rgb(47,60,130); 
background-image: -moz-linear-gradient(left, rgba(47,60,130,1) 0%, rgba(18,22,83,1) 100%); 
background-image: -webkit-linear-gradient(left, rgba(47,60,130,1),rgba(18,22,83,1)); 
background-image: linear-gradient(to right, rgba(47,60,130,1) 0%,rgba(18,22,83,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3c82', endColorstr='#121653',GradientType=1 );

}

button {
	background-color: #6a00ff;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-weight: 800; 
}

.darkgray {
	background-color: #2f3a4c; 
	color: white;
	/* menu boxes */
}

.darkestgray {
	background-color: #2a3344;
	color: white;
	/* for a highlight on dark gray */
}

.lightgray {
	background-color: #edeef3;
	color: #757a80;
	/*for content container background */
}

.white {

	background-color: white;
	color: #757a80;
 /* use for component panel boxes */
}


.darkblue {
	background-color: #56bdde;
}

.green {
	background-color: #28c97c;
}

.red {
	background-color: #fc4661;
}

.purple {
		background-color: #c86dd7; 
}


.purple-text {
		color: #c86dd7; 
}

.lightpurple {
		background-color: #e7dff3;
}

.blue {
		background-color: 	#00c7ff; 

}

.blue-text {
		color: 	#00c7ff; 

}

.orange {
		background-color: #fe8d07; 

}

.orange-text {
		color: #fe8d07; 

}

.dark-box {
	border-style: solid;
  border-width: 0;
  padding: 10px;
	background-color: #0a1042;
  box-shadow: 5px 5px #8888881c;
  border-radius: 10px;
}