.dashboard {

margin: 5px;
text-align: left;	
}

.dashboard .info-block {
	border-style: 	solid;
	border-width: 	1px;
	background-color: 	lightgrey;

}

.dashboard .big-button {
 width: 100%;
 background-color: 	#e87300;
 border-style: 	none;	
 border-radius: 2px;
 margin-top: 3px;
}