.dashboard {

margin: 5px;
text-align: left;	
}

.dashboard .info-block {
	border-style: 	solid;
	border-width: 	1px;
	background-color: 	lightgrey;

}

.dashboard .big-button {
 width: 100%;
 background-color: 	#e87300;
 border-style: 	none;	
 border-radius: 2px;
 margin-top: 3px;
}

.chart-area-container {
	  background-color: #0a1042;
    border-width: 0px;
    border-style: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    /*box-shadow: 3px 3px #00000040;*/
    box-shadow: 5px 5px #8888881c;
    border-radius: 10px;
}

@media only screen and (min-width: 640px) {




}