.food-form-container {



}

.food-form-container form {


}

.food-form-container label {
display: block;
}

.food-form-container input{
background-color: green;

}

.foodlist-section {

margin-top: 10px; 

}