nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
 background: rgb(106,0,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(106,0,255,1) 1%, rgba(170,160,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(106,0,255,1) 1%,rgba(170,160,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(106,0,255,1) 1%,rgba(170,160,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a00ff', endColorstr='#aaa0ff',GradientType=1 ); /* IE6-9 */
}

nav h1 {
  font-family: 'Aldrich', sans-serif; 

}

.nav3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
background: rgb(147,171,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(147,171,255,1) 0%, rgba(51,84,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(147,171,255,1) 0%,rgba(51,84,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(147,171,255,1) 0%,rgba(51,84,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93abff', endColorstr='#3354cc',GradientType=0 ); /* IE6-9 */

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #b1b1b13b;*/
}

nav li {
    float: left;
    padding-right: 5px;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    /*padding-left: 5px;
    padding-right: 5px; */
    margin-top: 5px;
    padding: 0;
    text-decoration: none;
}

nav li h1 {
  margin: 0;
  padding: 0;
}

nav li h1 a {
margin: 0;
padding-top: 0px;
font-size: 20px;
padding-left: 10px;
margin-top: 5px;
}

li a:hover:not(.active) {
}

.active {
}

.floatright {

float: right;

}

nav button {
  background-color: transparent;
  border-width: 0px;
      padding-top: 5px;

}

@media only screen and (min-width: 640px) {
nav li h1 a {
padding-top: 0px;
font-size: 32px;
padding-left: 10px;
}
}