.symptom-picker-popup {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 15%);
    z-index: 1010;
    background: #292d50;
    display: block;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    width: 600px;
    max-width: 80%;
    height: 400px;
    max-height: 95%;
    color: white;
    box-shadow: 5px 5px #8888881c;

    }

.pop-content label {
  color: #00c7ff
}
.pop-content input {
  width: 100%;
  height: 40px;
  background-color: white;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pop-content select {
  width: 100%;
  height: 50px;
  background-color: white;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;

}

.symptom-picker-popup button {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 60px;
  background-color: #fe8d07;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 0px;
  border-style: none;
  outline: none;
  padding: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  color:  white;
  font-weight:  800;

}

.symptom-picker-popup .submit-button {
width: 45%;
left: 0px;
border-bottom-right-radius: 0px;

}

.symptom-picker-popup .cancel-button {
width: 45%;
right: 0px;
border-bottom-left-radius: 0px;
background-color: #fc4661;

}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #0000008c;
    display: block;
    border-style: none;
    border-width: 0px;
    }

.symptom-picker-container {
      position: relative;
      width: 100%;
      height: 100%;
    }

  .pop-content {

  /* other stuff we already covered */

  /* cover the modal */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 20px 20px 20px 20px;

  /* let it scroll */
  overflow: auto;
  
}

